html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure body fits the viewport */
  box-sizing: border-box; /* Ensures elements respect width properly */
  cursor: url('/pointer.png'), auto;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0); /* Move background to app-container */
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}